.row
  .col-md-6.col-md-offset-3
    = form_for @profile, :html => {:multipart => true, :id => "entrepreneur-form"} do |f|
      = render 'shared/error_messages', object: f.object
      %h2 Company Information
      .form-group
        = f.label :company_name
        = f.text_field :company_name, :class => "form-control"
      .form-group
        = f.label :contact_name
        = f.text_field :contact_name, :class => "form-control"
      .form-group
        = f.label :state
        = f.select :state, us_states, :class => "form-control"
      .form-group
        = f.label :city
        = f.text_field :city, :class => "form-control"
      .form-group
        = f.label :contact_email_address
        = f.text_field :contact_email_address, :class => "form-control"
      .form-group
        = f.label :contact_phone_number
        = f.text_field :contact_phone_number, :class => "form-control"
      .form-group
        = f.label :short_description
        = f.text_field :short_description, :class => "form-control"
      .form-group
        = f.label :long_description
        = f.text_area :long_description, :class => "form-control", :rows => "5"
      .form-group
        = f.label :category
        = f.collection_select :category, ProfileCategory.all, :key_name, :pluralized_name, prompt: true, :class => "form-control"
      .form-group
        = f.label :sub_category
        = f.collection_select :sub_category, ProfileSubCategory.all, :key_name, :description, prompt: true, :class => "form-control"
      #profit-loss
        = f.label "Upload Profit/Loss Statement"
        - if @profile.profit_loss_statement?
          .current_profit_loss
            %span.glyphicon.glyphicon-file
            %span= link_to "Current profit-loss statement", @profile.profit_loss_statement.url, target: "_blank"
        = f.file_field :profit_loss_statement, :class => "form-control"
        = f.hidden_field :profit_loss_statement_cache
          
      .upload-plan
        = f.label "Upload business plan"
        - if @profile.business_plan?
          .current_business_plan
            %span.glyphicon.glyphicon-file
            %span= link_to "Current business plan", @profile.business_plan.url, target: "_blank"
        = f.file_field :business_plan, :class => "form-control"
        = f.hidden_field :business_plan_cache
      .upload-company-image
        = f.label "Upload company image"
        - if @profile.company_image?
          .current_company_image
            %span Current Image:
            = image_tag(@profile.company_image.url(:thumb_sm)) 
        = f.file_field :company_image, :class => "form-control"
        = f.hidden_field :company_image_cache
      %h2 Personal Information
      .form-group
        = f.label :user_hospitality_experience
        = f.select :user_hospitality_experience, Profile::USER_EXPERIENCE_VALUES, :class => "form-control"
      .form-group
        = f.label :user_management_experience
        = f.select :user_management_experience, Profile::USER_EXPERIENCE_VALUES, :class => "form-control"
      .form-group
        = f.label "Current position/title"
        = f.text_field :user_current_position, :class => "form-control"
      .form-group
        = f.label "Highest position/title"
        = f.text_field :user_highest_position, :class => "form-control"
      .form-group
        = f.label "Do you currently own/operate a restaurant?"
        = f.radio_button :user_current_restaurant_owner, "true"
        = f.label :user_current_restaurnat_owner_yes, "Yes"
        = f.radio_button :user_current_restaurant_owner, "false"
        = f.label :user_current_restaurant_owner_no, "No"
      .form-group
        = f.label "Have you ever owned/operated a restaurant?"
        = f.radio_button :user_previous_restaurant_owner, "true"
        = f.label :user_previous_restaurnat_owner_yes, "Yes"
        = f.radio_button :user_previous_restaurant_owner, "false"
        = f.label :user_previous_restaurant_owner_no, "No"

      .form-group
        = f.label "Familiar with (check all that apply):"
        - Familiarity.all.each do |familiarity|
          .div
            %span= check_box_tag 'profile[familiarity_ids][]', familiarity.id, @profile.familiarity_ids.include?(familiarity.id)
            %span= familiarity.description.humanize 

      .form-group
        = f.label :user_serv_safe_certified, "Are you Serv Safe certified?"
        = f.radio_button :user_serv_safe_certified, "true"
        = f.label :user_serv_safe_certified_yes, "Yes"
        = f.radio_button :user_serv_safe_certified, "false"
        = f.label :user_serv_safe_certified_no, "No"

      .form-group
        = f.label :user_has_criminal_record, "Have you had a DUI, felony record or any criminal activity that would prevent you from obtaining a liquor license? If yes, please explain below."
        = f.radio_button :user_has_criminal_record, "true"
        = f.label :user_has_criminal_record_yes, "Yes"
        = f.radio_button :user_has_criminal_record, "false"
        = f.label :user_has_criminal_record_no, "No"

      .form-group
        = f.label "Criminal record explanation:"
        = f.text_field :user_criminal_record_explanation, :class => "form-control"

      .form-group
        = f.label "Did you attend culinary school?"
        = f.radio_button :user_attended_culinary_school, "true"
        = f.label :user_attended_culinary_school_yes, "Yes"
        = f.radio_button :user_attended_culinary_school, "false"
        = f.label :user_attended_culinary_school_no, "No"

      .form-group
        = f.label "Years attended:"
        = f.text_field :user_culinary_school_years_attended, :class => "form-control"
      .form-group
        = f.label "Graduated?"
        = f.radio_button :user_graduated_culinary_school, "true"
        = f.label :user_graduated_culinary_school_yes, "Yes"
        = f.radio_button :user_graduated_culinary_school, "false"
        = f.label :user_graduated_culinary_school_no, "No"
      .form-group
        = f.label "Name of school:"
        = f.text_field :user_culinary_school_name, :class => "form-control"

      .form-group
        = f.label "Professional awards:"
        = f.text_field :user_professional_awards, :class => "form-control"

      .form-group
        = f.label :previous_restaurant_status
        = f.text_field :previous_restaurant_status
      .actions
        = f.submit "Update Profile", :class => "btn btn-success pull-left"
        = button_to "Cancel", user_path(current_user), :class => "btn btn-danger pull-left"

