.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading
        %h3.text-center Browse Entrepreneur Profiles
      .panel-body
        .search-bar.text-center
          = search_form_for @search do |f|
            = f.label :category_cont, "Category"
            = f.collection_select :category_cont, ProfileCategory.all, :key_name, :pluralized_name, prompt: true
            = f.label :sub_category_cont, "Sub Category"
            = f.collection_select :sub_category_cont, ProfileSubCategory.all, :key_name, :description, prompt: true
            = f.submit "search"
        .row.profiles-container
        - if @profiles.any?
          - @profiles.each do |profile|
            .profile-container.col-md-4
              %ul
                %li= link_to profile.company_name, user_path(profile.user)
                %li= profile.location_state_city
                %li= profile.short_description
                -if profile.business_plan.url
                  %li= link_to("#{profile.company_name} business plan", profile.business_plan.url, :target => "_blank")
        - else
          Sorry, no profiles match your search criteria
        

