.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading
        %h3.panel-title Account Settings
      / panel-heading
      .panel-body
        = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
          = devise_error_messages!
          .form-group
            = f.label :first_name
            = f.text_field :first_name, :class => "form-control"
          .form-group
            = f.label :last_name
            = f.text_field :last_name, :class => "form-control"
          .form-group
            = f.label :email
            = f.text_field :email, :autofocus => true, :class => "form-control"

          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{resource.unconfirmed_email}
          .form-group
            = f.label "New Password"
            %p
              %i (leave blank if you don't want to change it)
            = f.password_field :password, :autocomplete => "off", :class => "form-control"
          .form-group
            = f.label "New Password Confirmation"
            = f.password_field :password_confirmation, :class => "form-control"
          .form-group
            = f.label :current_password
            %p
              %i (we need your current password to confirm your changes)
            = f.password_field :current_password, :class => "form-control"
          .form-group
            = link_to "Update Payment Settings", edit_subscription_path(current_user.subscription)

          .form-group
            = link_to "Back", user_path(current_user), :class => "btn btn-primary"
            = f.submit "Update", :class => "btn btn-success margin-right"
        .delete-account
          %strong Delete Account?
          = button_to "Delete my account", registration_path(resource_name), :data => { :confirm => "Are you sure? This action cannot be undone!" }, :method => :delete, :form_class => "delete-button", :class => "btn-danger btn btn-sm"

