%a.list-group-item.clearfix{href: "#{message_path(conversation)}"}
  - if mailbox_type == "sentbox"
    %span.name.pull-left#conversation-recipient{style: "min-width: 120px; display: inline-block;"}= "To: " + conversation.recipients.last.username
  - else
    %span.name.pull-left#conversation-sender{style: "min-width: 120px; display: inline-block;"}= conversation.last_sender.name
  %span.pull-left#conversation-subject= conversation.subject
  - if conversation.is_trashed?(current_user)
    %span= button_to "Delete", delete_conversation_path(conversation), class: "btn btn-danger btn-sm pull-right", method: :put
    %span= button_to "Untrash", untrash_conversation_path(conversation), class: "btn btn-success btn-sm pull-right margin-right", method: :put
  - else
    %span= button_to "Trash", trash_conversation_path(conversation), class: "btn btn-danger btn-sm pull-right", method: :put
    

