%h1 Messages
%h2= "Conversation Initiations Remaining (#{@user.conversation_initiations_remaining})"
%h2 Inbox
%ul= render mailbox.inbox
%h2 Sentbox
%ul= render mailbox.sentbox
%h2 Trash
%ul= render mailbox.trash

= link_to 'Start conversation', :new_conversation
