.opaque-container.col-md-8.col-md-offset-2
  .row
    .col-md-12
      .company_image.pull-left
        = image_tag @profile.company_image.url(:thumb_lg), alt: @profile.company_name, class: "img-responsive company-image"
      .profile-information
        %h1= @profile.company_name
        .location
          %h4= @profile.location_state_city
        .category
          %h4= @profile.category_and_sub_category
        - if current_user == @profile.user
          = render 'owner_actions'
        - else 
          = render 'new_message_modal', :recipient => @profile.user
  .row
    .col-md-12
      - if @profile.short_description? || @profile.long_description?
        %h2 Description
        = @profile.short_description
        = @profile.long_description
      - if @profile.business_plan?
        %h2 Documents
        %span.glyphicon.glyphicon-file
        = link_to "#{@profile.company_name} business plan", @profile.business_plan.url, target: "_blank"
