%h1 Profile
.user-information
  %ul
    %li= @user.full_name
    %li= @user.user_type.capitalize
    %li= @user.email
    - if @plan
      %li= @plan.name
    - if @profiles.any?
      %h2 Profiles
      %ul
        = render @profiles
    - if @user.profiles.count < @profile_limit
      = link_to "Add profile", new_profile_path
