.row
  .col-md-6.col-md-offset-3
    = form_for @project, :html => {:multipart => true} do |f|
      = render 'shared/error_messages', object: f.object
      .form-group
        = f.label :company_name
        = f.text_field :company_name, :class => "form-control"
      .form-group
        = f.label :contact_name
        = f.text_field :contact_name, :class => "form-control"
      .form-group
        = f.label :state
        = f.select :state, options_for_select(us_states), :class => "form-control"
      .form-group
        = f.label :city
        = f.text_field :city, :class => "form-control"
      .form-group
        = f.label :email_address
        = f.text_field :email_address, :class => "form-control"
      .form-group
        = f.label :phone_number
        = f.text_field :phone_number, :class => "form-control"
      .form-group
        = f.label :description
        = f.text_field :description, :class => "form-control"
      .form-group
        = f.label :category
        = f.collection_select :category, ProjectCategory.all, :key_name, :pluralized_name, prompt: true, :class => "form-control"
      .form-group
        = f.label :sub_category
        = f.collection_select :sub_category, ProjectSubCategory.all, :key_name, :description, prompt: true, :class => "form-control"
      .upload-plan
        = f.label "Upload business plan"
        = f.file_field :business_plan, :class => "form-control"
      .upload-company-image
        = f.label "Upload company image"
        = f.file_field :company_image, :class => "form-control"
      .actions
        = f.submit "Update Profile", :class => "btn btn-success pull-left"
        = button_to "Cancel", user_path(current_user), :class => "btn btn-danger pull-left"

