= form_for @project, :html => {:multipart => true} do |f|
  = render 'shared/error_messages', object: f.object
  %div
    = f.label :title
    = f.text_field :title
  %div
    = f.label :contact_name
    = f.text_field :contact_name
  %div
    = f.label :email_address
    = f.text_field :email_address
  %div
    = f.label :phone_number
    = f.text_field :phone_number
  %div
    = f.label :description
    = f.text_field :description
  %div
    = f.label :category
    = f.collection_select :category, ProjectCategory.all, :key_name, :pluralized_name, prompt: true
  %div
    = f.label :sub_category
    = f.collection_select :sub_category, ProjectSubCategory.all, :key_name, :description, prompt: true
  %div
    = f.label "Upload business plan"
    = f.file_field :business_plan
  = f.submit "Save Project"

