%div
  %span.content= profile.company_name
  %span.timestamp
    = "(Posted #{time_ago_in_words(profile.created_at)} ago.)"
    = link_to "edit", edit_profile_path(profile)
    = link_to "delete", profile, method: :delete,
                                   data: { confirm: "You sure?" },
                                   company_name: profile.company_name
