%h1 Update Project
= form_for @project do |f|
  = render 'shared/error_messages', object: f.object
  %div
    = f.label :title
    = f.text_field :title
  %div
    = f.label :contact_name
    = f.text_field :contact_name
  %div
    = f.label :email_address
    = f.text_field :email_address
  %div
    = f.label :phone_number
    = f.text_field :phone_number
  %div
    = f.label :description
    = f.text_field :description
  %div
    = f.label :category
    = f.select(:category, options_for_select([['Restaurants', 'restaurants'], ['Real Estate', 'real_estate']]))
  %div
    = f.label :sub_category
    = f.select(:sub_category, options_for_select([['Coffee Shops', 'coffee_shops'], ['Gyms', 'gyms']]))
  = f.submit "Update Project"
