.col-md-6.col-md-offset-3
  %table.table.table-bordered
    %thead
      %tr
        %th Company Name
        %th Created On
        %th Authorize
        %th Deny
    %tbody
      - @profiles.each do |profile|
        %tr
          %td
            = link_to profile.company_name, profile.user
          %td
            = profile.created_at.strftime("%d %B %Y")
          %td
            = button_to "Authorize", approve_profile_path(profile), class: "btn btn-success", method: :put, data: { confirm: "Click OK to authorize \"#{profile.company_name}\"" }
          %td
            = button_to "Deny", deny_profile_path(profile), class: "btn btn-danger", method: :put, data: { confirm: "Click OK to deny \"#{profile.company_name}\"" }

