.col-md-6.col-md-offset-3
  %table.table.table-bordered
    %thead
      %tr
        %th Company Name
        %th Created On
        %th Authorize
        %th Deny
    %tbody
      - @profiles.each do |profile|
        %tr
          %td
            = link_to profile.company_name, profile.user
          %td
            = profile.created_at.strftime("%d %B %Y")
          %td
            = form_for(profile) do |f|
              = f.hidden_field :approved, :value => true
              = f.submit "Approve", class: "btn btn-success", data: { confirm: "Click OK to authorize \"#{profile.company_name}\"" }
          %td
            = form_for(profile) do |f|
              = f.hidden_field :approved, :value => false
              = f.hidden_field :submitted, :valuse => false
              = f.submit "Deny", class: "btn btn-success", data: { confirm: "Click OK to deny \"#{profile.company_name}\"" }

