.row
  %h1.text-center We're so happy you've joined us!
  .col-md-6.col-md-offset-3
    %p.text-center
      Membership costs
      %strong= number_to_currency @plan.price
      per month
    = form_for @subscription do |f|
      .error_messages
        - if @subscription.errors.any?
          %h2 Something went wrong!
          %ul.errors
            - @subscription.errors.full_messages.each do |msg|
              %li= msg
      
      = f.hidden_field :plan_id, value: @plan.id
      = f.hidden_field :stripe_card_token

      = render 'plans/card_fields', locals: { f: f }

      = f.submit "Signup for Maple and Oak", class: 'btn btn-primary btn-lg'
