%nav
  %ul
    = render 'layouts/all_user_links'
    - if signed_in?
      - if current_user.investor?
        = render 'layouts/investor_links'
      - if current_user.entrepreneur?
        = render 'layouts/entrepreneur_links'
      = render 'layouts/all_signed_in_user_links'
    - else
      %li= link_to "Sign in", new_user_session_path
