%nav.navbar.navbar-default{role: "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to root_path do
        .ico-tree-sm.navbar-brand

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'layouts/all_user_links'
        - if current_user.admin?
          %li= link_to "Admin", admin_path
        - if current_user.investor?
          %li= link_to "Browse", profiles_path
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to conversations_path do
            %span.glyphicon.glyphicon-envelope
            -if current_user.has_unread_messages?
              %span= "(" + current_user.unread_messages_count + ")"
            %span Messages
        %li
          = link_to user_path(current_user) do
            %span.glyphicon.glyphicon-user
            %span Profile
        %li
          = link_to destroy_user_session_path, method: "delete" do
            %span.glyphicon.glyphicon-share-alt
            %span Sign Out
